<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>long polling</title>
</head>
<body>

<%=msg%>

<script src="/lib/jquery/dist/jquery.min.js"></script>

<script>
    $(function () {
        function longPolling() {
            $.ajax({
                type: "get",
                url: "//localhost:8080/json",
                data: {
                },
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    longPolling();
                },
                error: function (msg) {
                    console.log(msg);
                }
            });
        }

        longPolling();
    });
</script>
</body>
</html>