<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>postMessage demo</title>
</head>
<body>

<%=msg%>
<button class="js-btn">向iframe发送消息</button>
<iframe src="http://iframe.com:8080/iframe" frameborder="0" width="300" height="300"></iframe>

<script src="/lib/jquery/dist/jquery.min.js"></script>
<script>
    console.log(document.domain);   // index.com

    window.addEventListener('message', function(event) {
        console.log(event);
        console.log(event.data);
    }, false);
    
    $('.js-btn').on('click', function(event) {
        window.frames[0].postMessage('msg from index', 'http://iframe.com:8080');
    });
</script>
</body>
</html>