<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>jsonp demo</title>
</head>
<body>

<%=msg%>

<script src="/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    function jsonpCallback(result) {
        console.log(result)
    }
    var jsonp = document.createElement("script");
	jsonp.type = "text/javascript";
	jsonp.src = "http://www.cross-domain.com:8080/json?callback=jsonpCallback";
    document.getElementsByTagName("head")[0].appendChild(jsonp);
</script>
</body>
</html>