<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>右侧固定宽度 左侧自适应</title>
	<style type="text/css">
		* {
			margin: 0;
			padding: 0;
		}
		.wrap{overflow:hidden;background:#EEE;}
		.wrap-right{width:300px;position:relative;float:right;margin-left:-300px;background:#AAA;}
		.wrap-left{width:100%;float:left;}
		.left-con{margin-right:300px;background:#DDD;}
		.left-con,.wrap-right{height:300px;}
	</style>
</head>
<body>
第2种方法：左侧同样用margin-right  右侧采用绝对定位 如下代码所示：
<div class="wrap">
	<div class="wrap-left">
		<a href="" target="_blank">我是龙恩</a>

	</div>

	<div class="wrap-right">
		<div class="left-con">
			<a href="" target="_blank">我是龙恩</a>
		</div>
	</div>
</div>
</body>
</html>