<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>右侧固定宽度 左侧自适应</title>
	<style type="text/css">
		* {
			margin: 0;
			padding: 0;
		}
		.left {
			width:200px;
			height:500px;
			position:absolute;
			top:0;
			left:0;
			background:blue;
		}
		.content {
			margin-left:200px;
			height:500px;
			margin-right:300px;
			background:green;
		}
		.right {
			width:300px;
			height:500px;
			position:absolute;
			top:0;
			right:0;
			background:blue;
		}
	</style>
</head>
<body>

<div class="left">aaa</div>
<div class="content">bbb</div>
<div class="right">ccc</div>
第一种：左右侧采用浮动 中间采用margin-left 和 margin-right 方法。
</body>
</html>